<h1> Log in </h1>
<h2> Make an initial user first! </h2>

<%= form_with url: "/sessions", method: :post do |form| %>
    <%= form.label :username, "Username:" %>
    <%= form.text_field :username%>
    <%= form.submit "Submit" %>
    <% end %>

<%= link_to "Make a new user", new_user_path %>

