<h1> Make a new event </h1>

<%= form_with model: @event, method: :post do |form| %>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name%>
    <%= form.label :description, "Description:" %>
    <%= form.text_field :description%>
    <%= form.label :date, "Date:" %>
    <%= form.date_select :date%>
    <%= form.submit "Submit" %>
    <% end %>

<%= link_to "Home", root_path %>



